# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/esp8266.esp8266.d1_mini_clone/car_speed_2.ino.bin
build/esp8266.esp8266.d1_mini_clone/car_speed_2.ino.elf
build/esp8266.esp8266.d1_mini_clone/car_speed_2.ino.map
